@model AsikWeb.Models.ViewModels.AsikViewModel;
@{
    ViewData["Title"] = "Visita Tecnica";
    int rolusu = Model.Rol_Usuario.Where(w => w.RolCodigo == 4).Count();
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" crossorigin="anonymous">

<input type="hidden" id="slt_CodiTec" value="@Convert.ToInt32(User.Claims.ElementAt(1).Value)" />
<div class="col-md-4">
    <img class="imgNextToTitle" alt="Button to open menu" src="~/Img/Open_Menu.svg" width="47" onclick="OpenHideMenu(true)">

    <h4 class="color_orange text-shadow">
        Visita Tecnica
    </h4>
</div>
@if (Model.Rol_Usuario.Count() > 1)
{
    <select class="form-control mb-2" id="rol_usu" onchange="changeTipoCalendar(this.value)" style="margin-top: 3vh;">
        @foreach (var ru in Model.Rol_Usuario)
        {
            if (ru.RolCodigo == 4 && rolusu >= 0)
            {
                <option selected value="@Model.LstRol.Where(w=>w.RolCodigo == ru.RolCodigo).Select(s=>s.RolCodigo).FirstOrDefault()">
                    @Model.LstRol.Where(w => w.RolCodigo == ru.RolCodigo).Select(s => s.RolNombre).FirstOrDefault()
                </option>
            }

            if (ru.RolCodigo == 5 && rolusu == 0)
            {
                <option selected value="@Model.LstRol.Where(w=>w.RolCodigo == ru.RolCodigo).Select(s=>s.RolCodigo).FirstOrDefault()">
                    @Model.LstRol.Where(w => w.RolCodigo == ru.RolCodigo).Select(s => s.RolNombre).FirstOrDefault()
                </option>
            }
            else if (ru.RolCodigo == 5 && rolusu >= 0)
            {
                <option value="@Model.LstRol.Where(w=>w.RolCodigo == ru.RolCodigo).Select(s=>s.RolCodigo).FirstOrDefault()">
                    @Model.LstRol.Where(w => w.RolCodigo == ru.RolCodigo).Select(s => s.RolNombre).FirstOrDefault()
                </option>
            }
        }
    </select>
}
else
{
    <input type="hidden" id="rol_usu" value="@Model.Rol_Usuario.FirstOrDefault().RolCodigo" />
}

<div id="calender" style="margin-bottom: 13vh;"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        onclick="$('#CalendarModal').modal('show');">
                    Volver al calendario
                </button>

                <button type="button" id="btnclick" class="btn btn-light TextNegrita float-right border-radius New_OT">
                    Ver Inspeccion
                </button>
            </div>
        </div>
    </div>
</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>
        var events = [];
        $(document).ready(function () {
            LoadCalendar($("#rol_usu").val());
        })

        function changeTipoCalendar(rol) {
            LoadCalendar(rol);
        }

        function LoadCalendar(rol) {
            $.ajax({
                type: "Post",
                url: "/ProgramarOT/GetProgramacion",
                data: {
                    codTec: $('#slt_CodiTec').val(),
                    codigoOt: 0,
                    rol: rol
                },
                success: function (data) {
                    events = [];
                    if (data != null) {
                        if (data.calendario != null) {
                            for (var i = 0; i < data.calendario.length; i++) {
                                events.push({
                                    codOt: data.ord_Trabajo[i].ord_Codotc,
                                    Nom_Cli: data.clientes[i].cliNombre,
                                    proyect_name: data.ord_Trabajo[i].ord_Nomproy,
                                    Cal_eventId: data.calendario[i].cal_EventId,
                                    title: data.calendario[i].subjec,
                                    description: data.calendario[i].descripcion,
                                    start: moment(data.calendario[i].inicio),
                                    end: data.calendario[i].fin != null ? moment(data.calendario[i].fin) : null,
                                    color: data.calendario[i].themeColor,
                                    allDay: data.calendario[i].tod_Dia
                                });
                            }
                            endDate = events.end;
                        }
                    }
                    GenerateCalender(events);
                },
                error: function (error) {
                    showAlert("Ha ocurrido un error",
                        "Visita Tecnica", "warning");
                }
            })
        }

        function GenerateCalender(events) {
            endDate = null;
            modal = false;
            $('#calender').fullCalendar('destroy');
            $('#calender').fullCalendar({
                displayEventTime: false,
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                lang: 'es',
                contentHeight: 600,
                defaultDate: new Date(),
                timeFormat: 'h(:mm)a',
                header: {
                    left: 'month,basicWeek,basicDay,agenda',
                    center: 'title',
                    right: 'today,prevYear,prev,next,nextYear'
                },
                buttonText: {
                    prevYear: new moment().year() - 1,
                    nextYear: new moment().year() + 1
                },
                viewRender: function (view) {
                    var y = moment($('#calender').fullCalendar('getDate')).year();
                    $(".fc-prevYear-button").text(y - 1);
                    $(".fc-nextYear-button").html(y + 1);
                },
                eventLimit: true,
                eventColor: '#378006',
                events: events,
                eventClick: function (calEvent, jsEvent, view) {
                    selectedEvent = calEvent;
                    $('#myModal #eventTitle').text(calEvent.proyect_name);
                    var $description = $('<div/>');
                    $description.append($('<p/>').html('<b>Cliente: </b>' + calEvent.Nom_Cli));
                    $description.append($('<p/>').html('<b>Inicio: </b>' + calEvent.start.format("DD-MMM-YYYY")));
                    if (calEvent.end != null) {
                        $description.append($('<p/>').html('<b>Fin: </b>' + calEvent.end.format("DD-MMM-YYYY")));
                    } else {
                        $description.append($('<p/>').html('<b>Fin: </b>' + calEvent.start.format("DD-MMM-YYYY")));
                    }
                    $description.append($('<p/>').html('<b>Descripcion: </b>' + calEvent.description));
                    $('#myModal #pDetails').empty().html($description);

                    $('#CalendarModal').modal('hide');
                    $('#myModal').modal();
                },
            });
            $(".fc-month-button").html("Mes");
            $(".fc-basicWeek-button").html("Semana");
            $(".fc-basicDay-button").html("Dia");
            $(".fc-today-button").html("Hoy");
            $('#CalendarModal').modal('show');
        }

        $('#btnclick').click(function () {
            LoadEventView();
        });

        function LoadEventView() {
            if (selectedEvent != null) {
                location.href = "/VisitaTecnica/Visit_Start?Ord_CodOtc=" + selectedEvent.codOt;
            }
        }
    </script>
}