@model AsikWeb.Models.ViewModels.AsikViewModel;
@{
    ViewData["Title"] = "Crear nueva O.T.";
}

<div id="Splash_Screen_Load" style="display: none"></div>
<div class="row">
    <div class="col-md-12" style="height: 74.7vh;overflow:auto">
        <!-- Encabezado -->
        <form action="/OrdenTrabajo/Save" method="Post" onsubmit="Save(event)">
            <div class="row">
                <div class="col-md-9 mt-4">
                    <img class="imgNextToTitle" alt="Button to open menu" src="~/Img/Open_Menu.svg" width="47" onclick="OpenHideMenu(true)">

                    <h4 class="color_orange text-shadow">
                        Detalle O.T.
                    </h4>
                </div>

                <div class="col-md-3">
                    <input type="hidden" required class="form-control" id="Ord_Codigo" readonly value="@Model.Ord_Trabajo.FirstOrDefault().Ord_Codigo.ToString().PadLeft(8, '0')" />
                    <input type="text" required class="form-control" id="DtNewOT" readonly value="@Model.Ord_Trabajo.FirstOrDefault().Ord_Fecmod.Value.ToShortDateString()" />
                </div>
            </div>
            <!-- Cuerpo -->
            <div class="row mt-4">
                <div class="col-md-5">
                    <label>
                        Nombre del Proyecto
                    </label>
                    <input type="text" autofocus class="form-control inputText_NoBorder inputHeight" required readonly
                           name="Proyect_Name" id="Proyect_Name" placeholder="Ingrese nombre del proyecto" value="@Model.Ord_Trabajo.FirstOrDefault().Ord_Nomproy" />
                </div>
                <div class="col-md-2">
                    <label>
                        Forma de pago
                    </label>
                    <select disabled id="Form_Pag" class="form-control">
                        @foreach (var item in Model.TipPago.Where(w => w.TipCodigo == Model.Ord_Trabajo.FirstOrDefault().Ord_Tippag))
                        {
                            <option value="@item.TipCodigo">@item.TipNombre</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label>
                        Cantidad de visitas
                    </label>
                    <input readonly type="text" required class="form-control inputText_NoBorder inputHeight" name="Proyect_Visit"
                           id="Proyect_Visit" placeholder="Visitas" value="@Model.Ord_Trabajo.FirstOrDefault().Ord_Canvis" />
                </div>
                <div class="col-md-2">
                    <label>
                        insp. documental
                    </label>
                    <input readonly type="text" required class="form-control inputText_NoBorder inputHeight" placeholder="Revision"
                           id="Proyect_InsDocument" value="@Model.Ord_Trabajo.FirstOrDefault().Ord_Revdoc" />
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-2">
                    <label>
                        Alcance
                    </label>
                    <select onchange="LstTipPago()" disabled id="Alcance" class="form-control">
                        @foreach (var item in Model.Alcance.Where(w => w.AlcCodigo == Model.Ord_Trabajo.FirstOrDefault().Ord_Alccod))
                        {
                            <option value="@item.AlcCodigo">@item.AlcNombre</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label>
                        Tipo de alcance
                    </label>
                    <select disabled id="Tip_Alc" class="form-control">
                        @foreach (var item in Model.TipAlcance.Where(w => w.Tip_alcodi == Model.Ord_Trabajo.FirstOrDefault().Ord_Talcod))
                        {
                            <option class="OptTipAlcance" value="@item.Alc_codigo">@item.Tip_alnomb</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label>
                        Cantidad
                    </label>
                    <input readonly type="text" required pattern="[0-9]+" class="form-control inputText_NoBorder inputHeight"
                           id="ord_cantalc" name="ord_cantalc" title="Solo se permiten numeros" value="@Model.Ord_Trabajo.FirstOrDefault().Ord_Cantalc" />
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col-md-6">
                    <label>
                        Cliente
                    </label>
                    <div>
                        <input type="hidden" required class="form-control inputText_NoBorder inputHeight" name="Cliente_Id" id="Cliente_Id" placeholder="Codigo" />
                        @*onclick="ClientList()" data-toggle="modal" data-target="#ModalSearchCliente"*@
                        <input type="text" required readonly class="form-control inputText_NoBorder inputHeight" name="Cliente_name" id="Cliente_name"
                               placeholder="Nombre" value="@Model.Clientes.FirstOrDefault().CliNombre" />
                    </div>
                </div>
                <div class="col-md-4">
                    <label>
                        Direcci&oacute;n
                    </label>
                    <input type="text" readonly required id="Cli_Dir" class="form-control inputText_NoBorder" placeholder="Direccion"
                           value="@Model.Clientes.FirstOrDefault().CliDirecc" />
                </div>
                <div class="col-md-4">
                    <label>
                        Num. Tel&eacute;fono
                    </label>
                    <input type="text" readonly required id="Cli_Tel" class="form-control inputText_NoBorder" placeholder="Telefono"
                           value="@Model.Clientes.FirstOrDefault().CliTelefo" />
                </div>
            </div>

            <div class="row mt-3">
                <!-- Info adicional -->
                <div class="col-md-8 col-sm-12">
                    <div class="card">
                        <h6 class="color_orange pt-3 pl-3 pr-3">Informaci&oacute;n adicional de contacto</h6>
                        <div class="row ml-3">
                            <div class="col-md-10 mt-2">
                                <label>
                                    Nombres Completos
                                </label>
                                <input type="text" readonly class="form-control inputText_NoBorder" id="AdiCli_Name" placeholder="Nombre"
                                       value="@Model.Ord_Trabajo.FirstOrDefault().Ord_Nomcad" />
                            </div>
                            <div class="col-md-10">
                                <label>
                                    Num. Tel&eacute;fono fijo
                                </label>
                                <input type="text" readonly class="form-control inputText_NoBorder" id="AdiCli_Tel" placeholder="Telefono"
                                       value="@Model.Ord_Trabajo.FirstOrDefault().Ord_Telcad" />
                            </div>
                            <div class="col-md-10">
                                <label>
                                    Num. Tel&eacute;fono movil
                                </label>
                                <input type="text" readonly class="form-control inputText_NoBorder" id="ORD_CELCAD" placeholder="Telefono"
                                       value="@Model.Ord_Trabajo.FirstOrDefault().Ord_Celcad" />
                            </div>
                            <div class="col-md-10">
                                <label>
                                    E-mail
                                </label>
                                <input type="email" required readonly class="form-control inputText_NoBorder" id="AdiCli_Email"
                                       placeholder="Correo Electronico" value="@Model.Ord_Trabajo.FirstOrDefault().Ord_Emacad" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botones-->
                <div class="col-md-4 col-sm-12">
                    <div class="row" style="padding-top: 15vh;">
                        @*<input type="button" class="ml-5 col-md-4 btn btn-light TextNegrita border-radius New_OT btn_save_color disable" value="Editar" onclick="Edit()" />*@
                        <input type="button" class="ml-5 col-md-4 btn btn-light TextNegrita float-right border-radius btn_cancel disable" onclick="location.href ='/OrdenTrabajo/Show'" value="Volver" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <script src="~/js/OrdenTrabajo.js" type="text/javascript" asp-append-version="true"></script>
}