@model AsikWeb.Models.ViewModels.AsikViewModel;
@{
    ViewData["Title"] = "Cargar Documentos";
    int codUsu = 0;
    foreach (var identities in User.Identities.ToList())
    {
        codUsu = Convert.ToInt32(identities.Claims.ElementAt(1).Value);
    }
}
<div id="Splash_Screen_Load" style="display: none"></div>
<div class="row" style="margin-top: 6rem !important; margin-bottom: 6rem !important;">
    <div class="col-md-11 col-sm-12 ml-lg-5 ml-sm-0">
        <form action="/Calidad/SaveFiles" enctype="multipart/form-data" method="post">
            <fieldset class="border p-2" style="border-color: rgba(var(--color_orange)) !important;">
                <legend class="w-auto color_orange">Informe General</legend>
                <div class="row">
                    <div class="col-md-4 pb-3 ml-4">
                        <strong>Proceso: </strong><label id="lblProceso">@Model.Procesos[0].ProNombre</label>
                    </div>

                    <div class="col-md-6 pb-3 ml-4">
                        <strong>Actividad: </strong><label id="lblActividad">@Model.Tareas[0].TarActcodNavigation.ActNombre</label>
                    </div>

                    <div class="col-md-11 pb-3 ml-4">
                        <strong>Tarea: </strong><label id="lblTarea">@Model.Tareas[0].TarNombre</label>
                        <input type="hidden" id="tarCodigo" name="tarCodigo" value="@Model.Tareas[0].TarCodigo" />
                    </div>

                    <div class="col-md-4 pb-3 ml-4">
                        <strong>Fecha Tarea: </strong><label id="lblFechIni">@Convert.ToDateTime(Model.calCalendarios[0].CalFecprog).ToString("MMMM dd, yyyy")</label>
                    </div>

                    <div class="col-md-5 pb-3 ml-4">
                        <strong>Fecha Limite: </strong><label id="lblFechFin">@Convert.ToDateTime(Model.calCalendarios[0].CalFecven).ToString("MMMM dd, yyyy")</label>
                    </div>

                    @*<div class="col-md-11 pb-3 ml-4">
                        <label><strong>Observaciones</strong></label>
                        <textarea id="calObserva" style="overflow:auto;resize:none" class="form-control" rows="5" cols="7">@Model.calCalendarios[0].CalObser</textarea>
                    </div>*@

                    @if (Model.calCalendarios[0].CalFecreal == null)
                    {
                        <div class="col-md-11 ml-4 pb-4">
                            <input type="hidden" id="fileName" value="@Model.Tareas[0].TarRegist" />
                            <input type="hidden" id="codUsu" name="codUsu" value="@codUsu" />
                            <input type="hidden" id="calCodigo" name="calCodigo" value="@Model.calCalendarios[0].CalCodigo" />
                            <label><strong>Anexar documento PDF</strong></label>
                            <input required type="file" id="uploadFile" name="uploadFile" class="form-control-file col-md-12" accept=".pdf, .PDF" onchange="fileSelect(event)" />
                        </div>
                        <div class="modal-footer col-md-12" id="divBtn">
                            <button type="submit" id="btnSave" class="btn btn-success btn_save_color" style="color:black">Guardar</button>
                            <button type="button" class="btn btn-danger btn_cancel disable" onclick="location.href = '/Calidad/Calendar'">Cancelar</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-11 ml-4 pb-4">
                            <label><strong>Documento PDF</strong></label>
                            <a href="@Model.calCalendarios[0].CalRutarc" target="_blank">@Model.Tareas[0].TarRegist</a>
                        </div>
                    }
                </div>
            </fieldset>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/Calidad.js" type="text/javascript" asp-append-version="true"></script>
}
